.LoadedBarbell {
    width: 95%;
    margin: 2%;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
  }

