.Inline {
    width: 65%;
    display: inline-flex;
    top: 50%;
    transform: translateY(-50%);
}

.InputLabel {
    font-size: larger;
    font-weight: bold;
    color: white;
}

.Centered {
    justify-content: center;
    margin-right: 5%;
}

.WeightMessage {
    font-size: large;
    font-weight: bold;
    color: red;
}