.CompCollarInside {
    height: 18%;
    width: 1.25%;
    background: linear-gradient(silver, gray);
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.CompCollarOutside {
    height: 19%;
    width: 1.25%;
    background: linear-gradient(silver, lightgray);
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}