.Bar {
    height: 6.5%;
    width: 52.5%;
    background: linear-gradient(silver, gray);
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Joint {
    height: 17.5%;
    width: 1.75%;
    background: linear-gradient(silver, gray);
    display: inline-flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}